.education {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 5rem;
  background-color: var(--main-color);
  color: white;
}

.education > header {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 1.6rem;
}

.education > header h1 {
  font-size: 2rem;
}

.education > div {
  display: flex;
  align-items: center;
  justify-content: center;
}
