.greetings {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(338px, 1fr));
  gap: 0.5rem;
  min-height: calc(100vh - 10em);
  padding: 0 5%;
  background: var(--greetings-gardient);
  color: white;
}

.greetings__about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  min-height: 100vh;
}

.about__welcome {
  margin-bottom: 2rem;
  font-weight: bold;
  font-size: 2rem;
  letter-spacing: 1px;
}

.about__text {
  margin-bottom: 0.25rem;
  font-size: 1.2rem;
  letter-spacing: 1px;
  font-weight: 300;
  line-height: 1.8;
}

.about__tags {
  margin-bottom: 1rem;
}

.about__tags ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0;
}

.about__tags li {
  background-color: var(--secondary-color);
  border: 1px solid #999999;
  border-radius: 0.25rem;
  color: #999999;
  font-size: 0.75rem;
  height: 1.5rem;
  line-height: 1.5rem;
  letter-spacing: 1px;
  padding: 0 0.5rem;
  text-align: center;
  text-transform: uppercase;
  margin-right: 0.5rem;
}

.about__tags li + li {
  margin-bottom: 0.5rem;
}

.about__tags li:hover {
  color: var(--main-color-darker);
  border-color: var(--main-color-darker);
}

.about__cv > a {
  position: relative;
  padding: 9.5px 20px;
  line-height: 1.5;
  border-radius: 4px;
  text-transform: uppercase;
  will-change: transform;
  letter-spacing: 0.2rem;
  font-size: 0.875rem;
  text-decoration: none;
  color: var(--main-color-darker);
  background-color: white;
  border: 1px solid white;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  transition: all 0.15s ease;
}

.about__cv > a:hover {
  background-color: var(--secondary-color);
  border-color: var(--main-color-darker);
  box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
  -webkit-transform: translateY(-1px);
  transform: translateY(-1px);
}

.about__cv > a span {
  display: inline-block;
  margin-left: 0.5rem;
}

.greetings__animation {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-height: 60vh;
}

.animation {
  height: 40rem;
  width: 40rem;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .animation {
    height: 20rem;
    width: 20rem;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .animation {
    height: 25rem;
    width: 25rem;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .animation {
    height: 40rem;
    width: 40rem;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .animation {
    height: 40rem;
    width: 40rem;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
