header {
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #55d6aa;
  padding: 1em 2em;
  height: 3em;
}

.logo {
  height: 2.5rem;
  width: 2.5rem;
  transform: rotate(-20deg);
  -ms-transform: rotate(-20deg);
}

nav ul {
  list-style-type: none;
  display: flex;
  margin: 0;
}

nav li {
  margin-left: 2rem;
}

nav li a {
  color: white;
}
