.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 5rem;
  background-color: var(--secondary-color);
}

.skills > header {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 1.6rem;
}

.skills > header h1 {
  font-size: 2rem;
}

.skills > div {
  display: grid;
  grid-template-columns: repeat(2, 90px);
  grid-auto-rows: 90px;
  gap: 1rem;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .skills > div {
    display: grid;
    grid-template-columns: repeat(5, 90px);
    grid-auto-rows: 90px;
    gap: 1rem;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .skills > div {
    display: grid;
    grid-template-columns: repeat(8, 90px);
    grid-auto-rows: 90px;
    gap: 1rem;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .skills > div {
    display: grid;
    grid-template-columns: repeat(10, 90px);
    grid-auto-rows: 90px;
    gap: 1rem;
  }
}
