.about-section {
  width: 100vw;
  height: 95vh;
  max-width: 100%;
  background-color: #117def;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
}

.animation {
  height: 45rem;
  width: 45rem;
}
