.iconContainer {
  height: 90px;
  width: 90px;
  margin-top: 1rem;
  border-radius: 10%;
  padding: 15px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.iconContainer > img {
  display: block;
  height: 100%;
  margin: auto;
  max-width: 100%;
}
