.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  color: black;
}

.timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

.timeline-event {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

.timeline-event::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid #ff9f55;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

.timeline-event:nth-child(odd) {
  left: 0;
}

.timeline-event:nth-child(even) {
  left: 50%;
}

.timeline-event:nth-child(odd)::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

.timeline-event:nth-child(even)::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

.timeline-event:nth-child(even)::after {
  left: -16px;
}

.timeline-event__content {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
}

.timeline-event__position,
.timeline-event__place {
  margin: 0;
  font-weight: normal;
}

.timeline-event__place {
  font-style: italic;
}

.timeline-event__tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0;
}

.timeline-event__tags li {
  background-color: var(--secondary-color);
  border: 1px solid #999999;
  border-radius: 0.25rem;
  color: #999999;
  font-size: 0.75rem;
  height: 1.5rem;
  line-height: 1.5rem;
  letter-spacing: 1px;
  padding: 0 0.5rem;
  text-align: center;
  text-transform: uppercase;
  margin-right: 0.5rem;
}

.timeline-event__tags li + li {
  margin-bottom: 0.5rem;
}

.timeline-event__tags li:hover {
  color: var(--main-color-darker);
  border-color: var(--main-color-darker);
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
  .timeline::after {
    left: 31px;
  }

  .timeline-event {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  .timeline-event::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

  .timeline-event:nth-child(odd)::after,
  .timeline-event:nth-child(even)::after {
    left: 15px;
  }

  .timeline-event:nth-child(even) {
    left: 0%;
  }
}
