.experience {
  padding: 1rem;
  background-color: var(--main-color);
  color: white;
}

.experience > header {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 5rem;
}

.experience > header h1 {
  font-size: 2rem;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .experience {
    padding: 4rem 5rem;
  }
}
