:root {
  --main-color: #1089ff;
  --main-color-darker: #23374d;
  --main-color-lighter: #6496ff;
  --secondary-color: #eeeeee;
  --greetings-gardient: linear-gradient(
    2deg,
    var(--main-color-lighter),
    var(--main-color)
  );
}

* {
  box-sizing: border-box;
}
